<div *ngIf="!isLoginSuccess && !loginError" class="d-flex justify-content-center mt-3">
    <form (ngSubmit)="OnSubmit()" [formGroup]="loginForm">
        
        <!-- radioBtns -->
        <div class="form-check form-check-inline mb-3">
            <input class="form-check-input" type="radio" name="typeRadioOptions" id="EmailRadio1" value="Email" checked (change)="ChangedHandler($event)">
            <label class="form-check-label" for="EmailRadio1">Email</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="typeRadioOptions" id="PhoneRadio1" value="Phone" (change)="ChangedHandler($event)">
            <label class="form-check-label" for="PhoneRadio1">Phone</label>
        </div>

        <!-- email -->
        <div class="mb-3" *ngIf="emailSelected">
            <label for="inputEmail1" class="form-label">Email address</label>
            <input formControlName="email" type="email" class="form-control" id="inputEmail1"
            [ngClass]="{invalid: emailControl.touched && emailControl.invalid}">
            <div class="alert-danger"
            *ngIf="emailControl.touched && emailControl.getError('required')">
                Required
            </div>
            <div class="alert-danger"
            *ngIf="emailControl.touched && emailControl.getError('email')">
                Email did not match
            </div>
        </div>

        <!-- phone -->
        <div class="mb-3" *ngIf="!emailSelected">
            <label for="inputPhone1" class="form-label">Phone</label>
            <input appPhoneDer formControlName="phone" type="phone" class="form-control" id="inputPhone1"
            [ngClass]="{invalid: phoneControl.touched && phoneControl.invalid}">
            <div class="alert-danger"
            *ngIf="phoneControl.touched && phoneControl.getError('required')">
                Required
            </div>
            <div class="alert-danger"
            *ngIf="phoneControl.touched && phoneControl.getError('phone')">
                Not Match. Example: 000-000-0000
            </div>
        </div>

        <!-- password -->
        <div class="mb-3">
            <label for="inputPassword1" class="form-label">Password</label>
            <input formControlName="password" type="password" class="form-control" id="inputPassword1"
            [ngClass]="{invalid: passwordControl.touched && passwordControl.invalid}">

            <div class="alert-danger"
            *ngIf="passwordControl.touched && passwordControl.getError('required')">
                Required
            </div>

            <div class="alert-danger"
            *ngIf="passwordControl.touched && passwordControl.getError('minlength')">
                Min Length is 8
            </div>
        </div>

        <div class="mb-3 form-check">
            <input formControlName="rememberMe" type="checkbox" class="form-check-input" id="rememberMeCheck1">
            <label class="form-check-label" for="rememberMeCheck1">Remember?</label>
        </div>

        <button type="submit" class="btn btn-success" 
        [disabled]="loginForm.invalid || pending"
        >Login</button>
    </form>
</div>

<div *ngIf="isLoginSuccess" class="d-column-flex text-center mt-3">
    <div class="text-success fs-3 fw-bolder">Login Success</div>
    <div class="text-success fs-6 fw-semibold">You will be redirected within 5 seconds</div>
</div>

<div *ngIf="!isLoginSuccess && loginError" class="d-column-flex text-center mt-3">
    <div class="text-danger fs-3 fw-bolder">{{loginError}}</div>
</div>

